.event-list {
  list-style-type: none;
  padding: 0;
}
.item__title.item:nth-child(odd) {
  background: #36366d;
  color: white;
}
.item {
  display: flex;
  justify-content: center;
  background: #3b8e3b;
  border-radius: 5px;
}
.item:nth-child(odd) {
  background: #2e672e;
}
.item__content {
  overflow: scroll;
  cursor: zoom-in;
}
.item__content:hover {
  opacity: 0.9;
}
.item__content:active {
  transition: opacity 1s;
  opacity: 0.5;
}
.item__column {
  text-align: center;
  overflow: scroll;
  flex: 1;
}
.item__remove {
  text-align: center;
  border-radius: 5px;
  flex: 0.5;
}
.item__remove:hover {
    transition: background-color 1s;
    cursor: pointer;
    background: red;
}
.item > p {
  margin: 10px;
}
