.container {
    display: flex;
    flex-direction: column;
    background: lightblue;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.create {
    color: white;
    background: #31b8e4;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    margin: 0 auto;
}
